<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Lennard Jones Fluid</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <!-- <canvas ref="canvas" style="border: 1px solid black" :width="width" :height="height"></canvas> -->
    <canvas ref="canvas" style="border: 1px solid black" width="800" height="800"></canvas>
    <!-- <canvas ref="canvas" style="border: 1px solid black"></canvas> -->

    <section id="controls">
      <form action="#" name="init_parameters" @submit.prevent="generate_ensemble">
        <fieldset :disabled="ensemble != null">
          <label for="init.n_particles">Number of particles: </label>
          <input type="number" name="init.n_particles" v-model="init.n_particles" min="1" step="1" required />
          <br>
          <label for="init.side_len">Side length of the box: </label>
          <input type="number" name="init.side_len" v-model="init.side_len" min="1" step="0.001" required />
          <br>
          <label for="init.mass">Mass of particles: </label>
          <input type="number" name="init.mass" v-model="init.mass" min="0.001" step="0.001" required />
          <br>
          <label for="init.temperature">Initial Temperature: </label>
          <input type="number" name="init.temperature" v-model="init.temperature" min="0" step="0.001" required />
          <br>
          <label for="init.sigma">Sigma: </label>
          <input type="number" name="init.sigma" v-model="init.sigma" min="0.001" step="0.001" required />
          <br>
          <label for="init.epsilon">Epsilon: </label>
          <input type="number" name="init.epsilon" v-model="init.epsilon" min="0.001" step="0.001" required />
          <br>
          <button>Generate</button>
        </fieldset>
      </form>
      <form action="#" name="runtime_parameters" @submit.prevent>
        <fieldset>
          <input type="checkbox" name="play" id="play" v-model="runtime.play" style="display: none"
            :disabled="ensemble == null">
          <label for="play">{{ runtime.play? " ⏸︎ pause" : " ⏵︎ play" }}</label>
          <label @click="stop"> ⏹︎ stop</label>
        </fieldset>
        <fieldset>
          <label for="draw_bonds">Draw bonds?</label>
          <input type="checkbox" name="draw_bonds" id="draw_bonds" v-model="runtime.draw_bonds">
        </fieldset>
        <fieldset>
          <legend>
            <label for="physics_time_step">Time step</label>
          </legend>
          <input type="number" name="physics_time_step" id="physics_time_step" min="0" step="0.00001"
            v-model="raw_physics_time_step">
        </fieldset>
        <fieldset>
          <legend>
            <label for="steps_per_animation_frame">Steps per animation frame: {{ steps_per_animation_frame
              }}</label>
          </legend>
          <input type="range" name="steps_per_animation_frame" id="steps_per_animation_frame" min="1" max="20" step="1"
            v-model="runtime.steps_per_animation_frame">
        </fieldset>
        <fieldset>
          <legend>
            <label for="draw_velocities">Draw velocities?</label>
            <input type="checkbox" name="draw_velocities" id="draw_velocities" v-model="runtime.draw_velocities">
          </legend>
          <div>
            <label :disabled="!runtime.draw_velocities" for="velocity_draw_scale">Scale with which to draw the
              velocities: </label>
            <input :disabled="!runtime.draw_velocities" type="range" name="velocity_draw_scale" id="velocity_draw_scale"
              min="0" max="100" step="0.001" v-model="runtime.velocity_draw_scale">
          </div>
        </fieldset>
      </form>
    </section>
  </div>

  <script type="module" src="index.js"></script>
</body>

</html>