* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	margin: 0;
	height: 100%;
}

div#app {
	height: 100%;
	display: flex;
	justify-content: space-around;
}

div#app section#controls {
	flex-grow: 1;
}

canvas {
	height: 100%;
}